a {
    text-decoration: none;
  }
  body {
    background-image: url(https://1.bp.blogspot.com/-VDXom0fnYQQ/X6uDynfRUVI/AAAAAAAAC08/vSy1tsVfbuE910B7NxMvrhExDKjx7mwiwCLcBGAsYHQ/s1500/20200903_122039.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: darkred;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #LOGIN {
    background: white;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #Username {
    padding: 12px 44px;
  }
  #Password {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: darkred;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #c62f24;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: white;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }
@media (min-width: 300px) and (max-width: 599px) and (orientation : portrait) {

    /* buat hp */

a {

    text-decoration: none;

  }
  body {
    background-image: url(https://1.bp.blogspot.com/-X9XenK4WkQg/X7JO0uZA2HI/AAAAAAAAC1Q/dwxi0fSV-wUdaAeX03HrGHV5Ug933-zFgCLcBGAsYHQ/s1600/20201116_170329.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  label {
    font-family: "Raleway", sans-serif;
    font-size: 11pt;
  }
  #forgot-pass {
    color: darkred;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 3px;
    text-align: right;
  }
  #LOGIN {
    background: white;
    opacity: 0.9;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 410px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
  }
  #Username {
    padding: 12px 44px;
  }
  #Password {
    font-family: "Raleway Thin", sans-serif;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
  }
  #signup {
    color: darkred;
    font-family: "Raleway", sans-serif;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;
  }
  #submit-btn {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    border: none;
    border-radius: 21px;
    box-shadow: 0px 1px 8px #c62f24;
    cursor: pointer;
    color: white;
    font-family: "Raleway SemiBold", sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 50px;
    transition: 0.25s;
    width: 153px;
  }
  #submit-btn:hover {
    box-shadow: 0px 1px 18px #24c64f;
  }
  .form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  .form-border {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    height: 1px;
    width: 100%;
  }
  .form-content {
    background: white;
    border: none;
    outline: none;
    padding-top: 14px;
  }
  .underline-title {
    background: -webkit-linear-gradient(right, rgb(216, 92, 92), darkred);
    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 89px;
  }